<div class=" d-flex justify-content-around flex-wrap">
  <div class="col ms-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="voteForm">
      <div class=" d-flex justify-content-around">
        <div class="col col-lg-2 ">
          <label class="form-label text-center ">Nombre:</label>
          <input id="name" class="form-control " formControlName="name" type="text">
          <ng-container *ngIf="voteForm.get('name')!.errors && voteForm.get('name')!.dirty">
            <p class="error" *ngIf="voteForm.get('name')!.hasError('required')">Este campo es requerido</p>
          </ng-container>
        </div>
        <div class="col col-lg-2 ">
          <label class="form-label text-center">Edad:</label>
          <input id="age" class="form-control " formControlName="age" type="number" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
          <ng-container *ngIf="voteForm.get('age')!.errors && voteForm.get('age')!.dirty">
            <p class="error" *ngIf="voteForm.get('age')!.hasError('required')">Este campo es requerido</p>
            <p class="error" *ngIf="voteForm.get('age')!.hasError('Older')">debes ser mayor de edad</p>
          </ng-container>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-md-auto mt-3">
          <label class="form-label" >Candidato:</label>
          <select id="candidate" class=" form-select" formControlName="candidate"  >
              <ng-container *ngFor="let choice of candidates">
                <option value={{choice}} >{{choice}}</option>
              </ng-container>
          </select>
          <button id="submit" type="submit" class="btn btn-danger mt-4"[disabled]="!voteForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col ">
    <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  </div>
</div>




